@model RTV.Models.Registration[]
@using GridMvc.Html

@{
    ViewBag.Title = "Użytkownicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista użytkowników systemu</h2>

<div>
    <hr />
    <div class="gridContainer">
        @Html.Grid(Model).Columns(columns =>
   {
       columns.Add(c => c.Email).Titled("Email").Filterable(true);
       columns.Add(c => c.UserName).Titled("Użytkownik").Filterable(true);
       columns.Add(c => c.Role).Titled("Rola").Filterable(true);
       columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("Edycja", "Edit", new { id = o.UserId }));
       columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("Usuń", "Delete", new { id = o.UserId }));
       //      columns.Add(model => model.UserName).Titled("Name")
       //.Filterable(true).Sanitized(false).Encoded(false).
       //  RenderValueAs(o => Html.ActionLink(o.UserName, "Edit", "Admin", new { Id = o.UserId }, null).ToHtmlString()); ;
   }).WithPaging(20).Sortable(true).EmptyText("Brak rekordów")
        @Html.ActionLink("Dodaj użytkownika", "Create")
    </div>
</div>
@Scripts.Render("~/Scripts/gridmvc.js") 


