@model IEnumerable<RTV.Models.Product>
@using GridMvc.Html

@{
    ViewBag.Title = "IndexMonitory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IndexMonitory</h2>

<p>
    @Html.ActionLink("< Pełna lista produktów", "Index")
   
</p>


@Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.ProductName).Titled("Nazwa").Filterable(true);
    columns.Add(c => c.Mark).Titled("Marka").Filterable(true);
    columns.Add(c => c.Description).Titled("Opis").Filterable(true);
    columns.Add(c => c.rozdzielczosc).Titled("Rozdzielczość").Filterable(true);
    columns.Add(c => c.przekatna).Titled("Przekątna").Filterable(true);
    columns.Add(c => c.czas_reakcji).Titled("Czas reakcji").Filterable(true);
    columns.Add(c => c.jasnosc).Titled("Jasność").Filterable(true);
    columns.Add(c => c.technologiaPodswietlenia).Titled("Podświetlenie").Filterable(true);
    columns.Add(c => c.stan).Titled("Stan").Filterable(true);
    columns.Add(c => c.Price).Titled("Cena").Filterable(true);
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { id = o.ProductId }));
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink("Delete", "Delete", new { id = o.ProductId }));
    //      columns.Add(model => model.UserName).Titled("Name")
    //.Filterable(true).Sanitized(false).Encoded(false).
    //  RenderValueAs(o => Html.ActionLink(o.UserName, "Edit", "Admin", new { Id = o.UserId }, null).ToHtmlString()); ;
}).WithPaging(20).Sortable(true)
@Html.ActionLink("Utworz nowy monitor", "CreateMonitor")